-#
-# locals:
-#   daily_record
-#

.mdl-grid.mdl-grid--no-spacing
  .mdl-cell.mdl-cell--12-col
    %table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col.unmargined-cell
      %thead.mdl-color--orange-50
        %tr
          %th.mdl-data-table__cell--non-numeric Description
          %th Amount
          %th.mdl-data-table__cell--non-numeric
      %tbody
        = render :partial => 'line_items/partials/line_item',
          :collection => daily_record.line_items.scoped
