- if notice.present?
  .mdl-grid.mdl-color--light-blue-600.mdl-color-text--white
    %p= notice


- if flash[:success].present?
  .mdl-grid.mdl-color--green-600.mdl-color-text--white
    %p= flash[:success]


- if alert.present? || flash[:error].present?
  - message = alert || flash[:error]

  .mdl-grid.mdl-color--red.mdl-color-text--white
    - if message.is_a? String
      = message
    - else
      - message.each do |msg|
        %p= msg
