- if notice.present?
  .alert.alert-info.alert-dismissable
    =link_to 'x', '#', :class => 'close',
    	:data => {:dismiss => 'alert'}
    =notice

- if alert.present?
  .alert.alert-danger.alert-dismissable
    =link_to 'x', '#', :class => 'close',
    	:data => {:dismiss => 'alert'}
    =alert