- if user_signed_in?
  .mdl-layout__header
    .mdl-layout__header-row
      .mdl-layout-title Finance Tracker
      .mdl-layout-spacer
      .mdl-navigation
        - if current_user.admin?
          = link_to 'Users', [:admin, :users],
            :class => 'mdl-navigation__link'
        = link_to 'My Account', [:edit, current_user],
          :class => 'mdl-navigation__link'
        = link_to 'Log out', destroy_user_session_path,
          :method => :delete,
          :class => 'mdl-navigation__link'
