.page-header
	%h2 New Daily Record

= form_for @form, :url => [@cutoff, @daily_record],
  :html => {:class => 'form-horizontal'} do |f|

	= render :partial => 'daily_records/partials/form', :locals => {:f => f}
