.mdl-grid
  .mdl-cell.mdl-cell--3-col
  .mdl-cell.mdl-cell--6-col
    .mdl-grid.mdl-grid--no-spacing
      .mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col
        .mdl-card__title
          .mdl-card__title-text
            .mdl-typography--display-1 New Daily Record

        = form_for @form, :url => [@cutoff, @daily_record] do |f|
          = render :partial => 'daily_records/partials/form',
            :locals => {:f => f, :cutoff => @cutoff}
