.page-header
	.pull-left
		%h2= @daily_record

		%dl.dl-horizontal
			%dt Budget
			%dd= number_with_precision(@daily_record.budget, :precision => 2)
			%dt Total Expense
			%dd{:id => "js-daily-record-#{@daily_record.id}"}
				=render :partial => '/daily_records/partials/expenses',
					:locals => {:daily_record => @daily_record}
			%dt Notes
			%dd= @daily_record.notes

	.pull-right
		=link_to 'Back to Cutoff', @daily_record.cutoff,
			:class => 'btn btn-default'
		=link_to 'Edit Record', [:edit, @daily_record],
			:class => 'btn btn-success'
		=link_to 'Delete', @daily_record,
			:class => 'btn btn-danger',
			:date => {:method => :delete,
				:confirm => 'Delete this record?'}

	.clearfix

.row
	=render :partial => 'line_items/partials/list',
		:locals => {:daily_record => @daily_record}