.display-flex {
  display: flex;
}

.alignment-center {
  align-items: center;
}

a.undecorated-link {
  text-decoration: none;
}

.mini-card {
  min-height: 100px;
}

.unmargined-cell {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.margined-top {
  margin-top: 8px !important;
}
