<!DOCTYPE html>
%html
  %head
    %title FinanceTracker
    =stylesheet_link_tag "application", media: "all"#, "data-turbolinks-track" => true
    =javascript_include_tag "application"#, "data-turbolinks-track" => true
    =csrf_meta_tags

  %body

    =render :partial => 'shared/user'

    .container
      =render :partial => 'shared/modal'
      =render :partial => 'shared/alerts'
      =yield